<div style="display: flex; justify-content: space-around;">
  <h4>{{MyEventsController.header}}</h4>
  <button class='btn btn-success' ng-click="MyEventsController.addEvent()">+</button>
</div>

<ol class="event-list">
  <li ng-repeat="event in MyEventsController.events">
    <p>Event date: {{event.date}}</p>
    <p>Event price: {{event.price}}</p>
    <p>Participants:</p>
    <ul class="participants-list">
      <li ng-repeat="participant in event.participants">
        <p>{{participant}}</p>
      </li>
    </ul>
  </li>
</ol>
